*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'roboto Bold';
}

// pallete
$Columbia-Blue: (#C2DDE8);
$Alabaster: (#F6F0E4);
$Burlywood: (#E0B887);
$Crystal-Blue: (#60A2AE);
$Metallic-Blue: (#305278);

$title-bar-color: #273c53;
//===================;

$frame-size:30px;
.frame
{
	color: white;
	-webkit-app-region: drag;
	display: block;
	text-align: right;

	width: 100%;
	height: $frame-size;
	//background: $title-bar-color;

	position: relative;
	*
	{
		user-select: none;
	}
	&--title
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

	}
	&--btn
	{
		
		display: inline-flex;
		width: 50px;
		height: 100%;
		justify-content: center;
		align-items: center;
		z-index: 99999;
		-webkit-app-region: no-drag;



		&:hover{
			background: rgba(255, 255, 255, 0.287);
		}
		img
		{
			filter: invert(100%);
		}

	}
	#close-btn
	{
		&:hover{
			background: rgb(255, 38, 38);
		}
	}
}
main
{
	display: flex;
	height: calc(100vh - #{$frame-size});
	$side-bar-width: 200px;
	.side_bar
	{
		a {
			color: inherit;
			text-decoration: none;
		}
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
		background-color:$Metallic-Blue;
		width: $side-bar-width;
		color: white;
		padding-top: 50px;
		padding-bottom: 50px;
		align-items: center;
		&--seperator
		{
			border-top: 1px solid white;
			width: 90%;
		}
		
	}
	.content
	{
		display: inline-block;
		width: calc( 100% - #{$side-bar-width});
		height: 100%;
		position: relative;
		&--loader
		{
			position: absolute;
			top:50%;
			left:50%;
			// transform: ;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			border: 20px solid rgb(200, 200, 200);
			border-top: 20px solid rgb(148, 148, 148);
			animation: spin 2s linear infinite;
		}
	}
}

.view
{
	width: 100%;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	*
	{
		pointer-events: none;
	}
	&--text
	{
		margin-left: 10px !important;
	}
	&__selected{
		background: rgb(255, 255, 255);
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.200) 0%, rgba(255,255,255,0) 100%);
	}
}

.card
{
	height: fit-content;
	width: 80%;
	padding: 10px 10px;
	margin: 0 auto;
	border-bottom: 2px solid rgb(184, 184, 184);
	display: flex;
  	justify-content: flex-start;
  	align-items: center;
	img
	{
		width: 30px;
	}
	*
	{
		margin-right: 10px;
	}


}

@keyframes spin {
	0%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100%{
		transform: translate(-50%,-50%) rotate(360deg);
	}
}

.hidden
{
	display: none;
}