*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

$frame_color: rgb(0, 54, 155);
body
{
	overflow: hidden;
}
.frame
{
	display:flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	height: 30px;

	color: white;
	background-color: $frame_color;


	-webkit-app-region: drag;

	&--title{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);

		pointer-events: none;
		
	}
	&--btn
	{
		padding: 5px 10px;
		text-align: center;
		position: relative;
		height: 100%;
		width: 40px;
		cursor: pointer;

		img
		{
			width: 20px;
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
		}

		&__hover{
			&:hover{
				background-color: rgba(255, 255, 255, 0.377);

			}
		}
		&__close
		{
			&:hover{
				background-color: red !important;
			}
		}
	}
	*
	{
		-webkit-app-region: no-drag;
	}
}

.sidebar-open {
	position: absolute;
	transform: translateY(-50%);
	width: 40px;
	height: 30px;
	left: 35px;
	top: 50%;

	border: none;
	background:none;
	color:white;
	content: "-";
}


.hidden {
	display: none;
}