*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

$frame_color: rgb(0, 54, 155);
body
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 100vh;
	#root
	{
		flex: 1;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		& >  *
		{
			height: 100%;
		}
	}
	
}
.frame
{
	display:flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	height: 30px;

	color: white;
	background-color: $frame_color;


	-webkit-app-region: drag;

	&--title{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);

		pointer-events: none;
		
	}
	&--btn
	{
		padding: 5px 10px;
		text-align: center;
		position: relative;
		height: 100%;
		width: 40px;
		cursor: pointer;

		img
		{
			width: 20px;
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
		}

		&__hover{
			&:hover{
				background-color: rgba(255, 255, 255, 0.377);

			}
		}
		&__close
		{
			&:hover{
				background-color: red !important;
			}
		}
	}
	*
	{
		-webkit-app-region: no-drag;
	}
}



.hidden {
	display: none;
}


