@font-face {
	font-family: 'roboto';
	src: url('./Roboto/Roboto-Regular.ttf')  format('truetype');
}
@font-face {
	font-family: 'roboto Bold';
	src: url('./Roboto/Roboto-Bold.ttf')  format('truetype');
}
@font-face {
	font-family: 'roboto Bold Italic';
	src: url('./Roboto/Roboto-BoldItalic.ttf')  format('truetype');
}
@font-face {
	font-family: 'roboto Italic';
	src: url('./Roboto/Roboto-Italic.ttf')  format('truetype');
}
