.animation{
    animation: growDown 100ms ease-in forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
       max-height: 0;
    }
    70% {
       max-height: 60px;
    }
    100% {
       max-height: 1000px;
    }
}

.items{
	height:fit-content;
}