.wrapper{
	grid-template-columns: 20rem auto;
	grid-template-rows: 10rem 14rem auto;
	
	gap: 1rem;
	grid-template-areas: 
	"mini_map question"
	"mini_map image"
	"mini_map textBox";
}

.mini_map{
	grid-area: mini_map;
}
